body,html{
    padding: 0;
    margin: 0;
}
ul,
li,p {
    list-style: none;
}
body {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
    display: block;
}

.section{
    width: 100%;
    position: relative;
    overflow: hidden;
}

/*---上下滑动---*/
.tempshadetop{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:70%;
    background: url(../img/shangbian.png) no-repeat;
    background-size:100% 100%;
    z-index: 10;
    position: relative;
}
.active .tempshadetop{
    top:-80%;
    transition: all 3s;
    transition-delay: 2s;
}
.jb{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: .8rem;
    background: url(../img/jb.png) no-repeat;
    background-size: contain;
}
.hudie{
    width: 5.36rem;
    height: 3.38rem;
    position: absolute;
    top:1.5rem;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    background: url(../img/hudie.png) no-repeat;
    background-size: 100% 100%;
}
.eng{
    width: 4.23rem;
    height: .5rem;
    background:url(../img/eng.png)no-repeat;
    background-size: contain;
    position: absolute;
    top:5.6rem;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;

}
.yaoqing{
    width:3rem;
    height: .5rem;
    background: yellow;
    background:url(../img/yaoqing.png)no-repeat;
    background-size: contain;
    position: absolute;
    top:6.3rem;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}
/*--上完--*/
.tempshadebot{
    z-index: 9;
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height:40%;
    background:url(../img/xiabian.png);
}

.active .tempshadebot{
    bottom:-40%;
    transition: all 3s;
    transition-delay: 2s;
}

.below{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
.belowtop{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:2.2rem;
    margin: 0 auto;
    width: 50%;
    height: 2.5rem;
    background:url(../img/1.png) no-repeat;
    background-size: 100% 100%;
    /*background-size: cover;*/
    /*background-size:contain;*/
    opacity: 0;
}
.active .belowtop{
    width: 100%;
    height: 5.21rem;
    background-size:100% 100%;
    top:0;
    transition: all 4s;
    opacity: 1;
    transition-delay:3s;
}

.belowcenter{
    position: absolute;
    top:5.21rem;
    left:0;
    width: 100%;
    height: 1.19rem;
    background:url(../img/zhongjian.png);
    background-size: contain;
    z-index: 2;
}
.belowbot{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 4.98rem;
    background:url(../img/3.png);
    background-size: contain;
}
.xi{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top:4.8rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: url(../img/sanxi.png)no-repeat;
    background-size: contain;
    z-index: 4;
}
.active .xi{
    width: 2.5rem;
    height: 2.5rem;
    top:4.8rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: url(../img/sanxi.png)no-repeat;
    background-size: contain;
    transition: all 3.5s;
    transition-delay: 1s;
}



.index{
    position: absolute;
    width: 3rem;
    height:2.2rem;
    top:5.4rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    /*background: yellow;*/
    background: url(../img/diceng.png)no-repeat;
    /*background-size: contain;*/
    background-size: 100% 100%;
    opacity: 0;
}
.active .index{
    opacity: 1;
    transition: 4s;
    transition-delay: 4s;
}

.active .username{
    width: 4.5rem;
    height: .7rem;
    background:url(../img/name.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    left: 0;
    right: 0;
    bottom: 2.7rem;
    margin: 0 auto;
    font-size: .6rem;
    color:#f3c972;
    line-height: 100%;
    transition-delay: 14s;
    transition:all 5s;
}
.username{
    position: absolute;
    width: 4.5rem;
    height: .7rem;
    background:url(../img/name.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    left: 0;
    right: 0;
    bottom:-40%;
    margin: 0 auto;
    font-size: .6rem;
    color:#f3c972;
    line-height: 100%;
}
.hubby{
    display: block;
    display: flex;
    float: left;
    text-align: center;
}
.wife{
    display: block;
    display: flex;
    float: right;
    text-align: center;
}
.time{
    text-align: center;
    width: 4rem;
    height: .4rem;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom:-40%;
    margin: 0 auto;
    font-size: .3rem;
    color:#f3c972;
    opacity: 0;
}
.active .time{
    text-align: center;
    width: 4rem;
    height: .4rem;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 1.8rem;
    margin: 0 auto;
    font-size: .32rem;
    color:#f3c972;
    transition-delay:15s;
    transition:all 5s;
    opacity: 1;
}
.localhost{
    width: 4rem;
    height: .4rem;
    position: absolute;
    /*background: red;*/
    left: 0;
    right: 0;
    bottom:-40%;
    margin: 0 auto;
    font-size: .35rem;
    color:#f3c972;
    letter-spacing:.04rem;
    text-align: center;
    opacity:0;
}
.active .localhost{
    width: 4rem;
    height: .4rem;
    position: absolute;
    /*background: red;*/
    left: 0;
    right: 0;
    bottom: 1.2rem;
    margin: 0 auto;
    font-size: .35rem;
    color:#f3c972;
    letter-spacing:.04rem;
    text-align: center;
    transition-delay:20s;
    transition:all 5s;
    opacity: 1;
}

/*延迟5秒transition-delay: 5s;*/

.section2{
    width: 100%;
    height: 100%;
    background: url(../img/xiabian.png) no-repeat;
    background-size: 100% 100%;
}
.border{
    width: 2rem;
    height: 4rem;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin:  auto;
    background: #ccc;
    background: url(../img/border.png) no-repeat;
    background-size:100% 100%;
    opacity: 0;
}
.active .border{
    transition: all 3s;
    opacity: 1;
    width: 6.04rem;
    height: 10.82rem;
    background: url(../img/border.png) no-repeat;
    background-size:100% 100%;
}

.se2jiehun{
    width: .71rem;
    height: 3.94rem;
    background:url(../img/jiehunle.png) no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0;
}
.active .se2jiehun{
    opacity: 1;
    transform: scale(1, 1);
    transition: all 3s;
}
.long{
    position: absolute;
    width: 4.56rem;
    height: 5.19rem;
    background: url(../img/long.png) no-repeat;
    background-size: 100%;
    right: 1.6rem;
    top:1.13rem;
    opacity: 0;
    transform: rotate(-90deg);
}
.active .long{
    right:-1.03rem;
    top:-.3rem;
    opacity: 1;
    transform: rotate(-5deg);
    opacity: 1;
    transition:  all 3s;
    transition-delay: 3s;

}
.feng{
    width: 4.56rem;
    height: 5.19rem;
    background: red;
    background: url(../img/feng.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left:1.2rem;
    bottom: 1rem;
    opacity: 0;
    transform: rotate(-100deg);
}
.active .feng{
    left:-1.3rem;
    bottom: 0;
    transition:  all 2s;
    transform: rotate(-10deg);
    opacity: 1;
    transition-delay: 3s;
}
.zhezhao{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(../img/beijing.png) no-repeat;
    background-size: 100% 100%;
    z-index: 3;
    opacity: 0;
    position: relative;
}

.border1{
    width: 2rem;
    height: 4rem;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin:  auto;
    background: #ccc;
    background: url(../img/border.png) no-repeat;
    background-size:100% 100%;
    opacity: 0;
    z-index: 3;
}
.active .border1{
    transition: all 3s;
    opacity: 1;
    width: 6.04rem;
    height: 10.82rem;
    background: url(../img/border.png) no-repeat;
    background-size:100% 100%;
    transition-delay: 6s;
}

.active .zhezhao{
    opacity: 1;
    transition: all 2s;
    transition-delay: 6s;
}
.img{
    position: absolute;
    width: 2rem;
    height: 4rem;
    border-radius: 5px;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(../img/q1.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}
.active .img{
    width: 5.1rem;
    height: 9.84rem;
    border-radius: 5px;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(../img/q1.png) no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    transition: all 3s;
    transition-delay: 6s;
}
/*第三屏*/
.section3{
    width: 100%;
    height: 100%;
    background: url(../img/xiabian.png) no-repeat;
    background-size: 100% 100%;
}
/*border 3s*/
.img1{
    width: 3rem;
    height: 2rem;
    border-radius: .5rem;
    background: url(../img/k1.jpg);
    background-size: 100% 100%;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top:.76rem;
    margin:0 auto;
    opacity: 0;
}
.active .img1{
    width: 5.13rem;
    height: 4.14rem;
    border-radius: .5rem;
    background: url(../img/k1.jpg);
    background-size: 100% 100%;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top:.76rem;
    margin:0 auto;
    transition: all 2s;
    transition-delay: 3s;
    opacity: 1;
}
.img2{
    width: 3.77rem;
    height: 1.08rem;
    background: url(../img/xjly.png)no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top:5.1rem;
    margin:0 auto;
    opacity: 0;
}
.active .img2{
    transition: all 2s;
    opacity: 1;
    transform: rotate(360deg);
    transition-delay: 2s;
}
.img3{
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
    background:url(../img/k2.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top:6.4rem;
    margin:0 auto;
    opacity: 0;
}
.active .img3{
    width: 5.13rem;
    height: 4.17rem;
    border-radius: .5rem;
    background:url(../img/k2.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top:6.4rem;
    margin:0 auto;
    transition: all 2s;
    opacity: 1;
    transition-delay: 3s;
}

/*第四屏*/
.section4{
    width: 100%;
    height: 100%;
    background: url(../img/xiabian.png) no-repeat;
    background-size: 100% 100%;
}
.img4{
    width: 4.46rem;
    height: 1.28rem;
    background:url(../img/xjly.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    top:-5rem;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}
.active .img4{
    top:.9rem;
    transition: all 2s;
    transition-delay: 2s;
}
.img5{
    width: 5.27rem;
    height: 3.63rem;
    background:url(../img/img5.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: -20rem;
    margin:auto;
    opacity: 0;
}
.active .img5{
    bottom: 1rem;
    transition: all 3s;
    transform: rotate(360deg);
    transition-delay: 3s;
    opacity: 1;
}

.content{
    font-family: 微软雅黑;
    position: absolute;
    width: 60%;
    height: 2.4rem;
    text-align: center;
    top:6.7rem;
    left:0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: .3rem;
    color: #f3c972;
    opacity: 0;
}
.active .content{
    opacity: 1;
    transition: 3s;
    transition-delay: 5s;
}
/*第五屏*/
.section5{
    width: 100%;
    height: 100%;
    background: url(../img/xiabian.png) no-repeat;
    background-size: 100% 100%;
}
.se6time{
    width: 3.26rem;
    height: .3rem;
    position: absolute;
    top:3.3rem;
    left:0;
    right: 0;
    bottom: 0;
    margin:0 auto;
    font-size: .28rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
    opacity: 0;
}
.active .se6time{
    opacity: 1;
    transition: all 3s;
    transition-delay: 3s;
}
.se5nonglitime{
    width: 3.26rem;
    height: .4rem;
    position: absolute;
    top:3.8rem;
    left:0;
    right: 0;
    bottom: 0;
    margin:0 auto;
    font-size: .3rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
    opacity: 0;
}
.active .se5nonglitime{
    opacity: 1;
    transition: all 3s;
    transition-delay: 4s;
}
.se5localhost{
    width: 3.26rem;
    height: .4rem;
    position: absolute;
    top:4.6rem;
    left:0;
    right: 0;
    bottom: 0;
    margin:0 auto;
    font-size: .3rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
    opacity: 0;
}
.active .se5localhost{
    opacity: 1;
    transition: all 3s;
    transition-delay: 5s;
}
.se5englocalhost{
    width: 3.26rem;
    height: .4rem;
    position: absolute;
    top:5.1rem;
    left:0;
    right: 0;
    bottom: 0;
    margin:0 auto;
    font-size: .28rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
    opacity: 0;
}
.active .se5englocalhost{
    opacity: 1;
    transition: all 3s;
    transition-delay: 6s;
}
.se5contact{
    width: 3.26rem;
    height: .4rem;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:-15rem;
    margin:auto;
    font-size: .3rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
}
.active .se5contact{
    top:0;
    left:0;
    right: 0;
    bottom:-1.9rem;
    margin:auto;
    font-size: .3rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
    transition:  all 3s;
    transition-delay: 6s;
}
.se5touchlang{
    width: 3.26rem;
    height: .57rem;
    border: 2px solid #f3c972;
    line-height: .5rem;
    border-radius: .5rem;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:-15rem;
    margin:auto;
    font-size: .33rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
}
.active .se5touchlang{
    top:0;
    left:0;
    right: 0;
    bottom:-4.6rem;
    margin:auto;
    font-size: .33rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
    transition:  all 3s;
    transition-delay: 7s;
}
.se5touchliang{
    width: 3.26rem;
    height: .57rem;
    border: 2px solid #f3c972;
    line-height: .5rem;
    border-radius: .5rem;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:-15rem;
    margin:auto;
    font-size: .33rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
}
.active .se5touchliang{
    top:0;
    left:0;
    right: 0;
    bottom:-6.5rem;
    margin:auto;
    font-size: .33rem;
    color: #f3c972;
    text-align: center;
    letter-spacing: .01rem;
    transition:  all 3s;
    transition-delay: 8s;
}

/*第六屏*/
.section6{
    width: 100%;
    height: 100%;
    background: url(../img/xiabian.png) no-repeat;
    background-size: 100% 100%;
}
.se6zhufu{
    position: absolute;
    top:2.66rem;
    left:0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    height: .4rem;
    font-size: .28rem;
    color: #f3c972;
    text-align: center;
    opacity: 0;
}
.active .se6zhufu{
    opacity: 1;
    transition:  all 2s;
    transition-delay: 3.2s;

}
.se6message{
    width: 5.32rem;
    height: 5.33rem;
    /*background: red;*/
    position: absolute;
    top:3.06rem;
    left:0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}

/*7屏*/
.section7{
    width: 100%;
    height: 100%;
    background: url(../img/xiabian.png) no-repeat;
    background-size: 100% 100%;
}

.se7welcom{
    width:4.07rem;
    height: .42rem;
    color: #f3c972;
    font-size: .3rem;
    text-align: center;
    position: absolute;
    top:3.32rem;
    left:0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
}
.active .se7welcom{
    opacity: 1;
    transition: all 3s;
    transition-delay: 3.5s;
}
.se7name{
    width: 4.07rem;
    height: .6rem;
    text-align: center;
    position: absolute;
    bottom:-15rem;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .5rem;
    border: 3px solid #f3c972;
    font-size: .33rem;
    letter-spacing: .2rem;
    color: #f3c972;
    line-height: .5rem;
}
.active .se7name{
    bottom:0;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .5rem;
    border: 3px solid #f3c972;
    font-size: .33rem;
    letter-spacing: .2rem;
    color: #f3c972;
    line-height: .5rem;
    transition:  all 3s;
    transition-delay:4s;
}
.se7method{
    width: 4.07rem;
    height: .6rem;
    text-align: center;
    position: absolute;
    bottom:-15rem;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .5rem;
    border: 3px solid #f3c972;
    font-size: .33rem;
    /*letter-spacing: .2rem;*/
    color: #f3c972;
    line-height: .5rem;

}
.active .se7method{
    bottom:-2rem;
    top:0;
     left: 0;
    right: 0;
    margin: auto;
    border-radius: .5rem;
    border: 3px solid #f3c972;
    font-size: .33rem;
    letter-spacing: .2rem;
    color: #f3c972;
    line-height: .5rem;
    transition:  all 3s;
    transition-delay:6s;
}
.se7number{
    width: 4.07rem;
    height: .6rem;
    text-align: center;
    position: absolute;
    bottom:-15rem;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .5rem;
    border: 3px solid #f3c972;
    font-size: .33rem;
    letter-spacing: .2rem;
    color: #f3c972;
    line-height: .5rem;
    padding-left: .1rem;
    padding-right: .1rem;
}
.active .se7number{
    bottom:-4rem;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .5rem;
    border: 3px solid #f3c972;
    font-size: .33rem;
    letter-spacing: .2rem;
    color: #f3c972;
    line-height: .5rem;
    transition:  all 3s;
    transition-delay:8s;
}
.but{
    width: 4.07rem;
    height: .6rem;
    text-align: center;
    position: absolute;
    bottom:-15rem;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    background:#F9CF3B;
    border-radius: .5rem;
    font-size: .33rem;
    color: #FEF7E1;
    line-height: .55rem;
    letter-spacing: .2rem;
}
.active .but{
    bottom:-6rem;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    background:#F9CF3B;
    border-radius: .5rem;
    font-size: .33rem;
    color: #FEF7E1;
    line-height: .53rem;
    letter-spacing: .2rem;
    transition:  all 3s;
    transition-delay:10s;
}
.jian{
    width:.5rem;
    height: 100%;
    float: left;
    background: red;
    background:url(../img/jian.png)no-repeat;
    background-size: 100% 100%;
}
.jia{
    width: .5rem;
    height: 100%;
    float: right;
    background: red;
    background:url(../img/jia.png)no-repeat;
    background-size: 100% 100%;
}
